$primary: #F174DC;
$secondary: #F93F83;
$light: #F0F0F0;
$dark: #252E26;
$success: rgba(14, 90, 65, 0.349);
$info: #FFFFFF;
$warning: rgb(197, 197, 9);
$danger: rgb(128, 13, 13);

@import '~bootstrap/scss/bootstrap.scss';