@import url('https://fonts.googleapis.com/css2?family=Qahiri&family=Quicksand&display=swap');
body,html {
  margin: 0;
  font-family: 'Qahiri', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F0F0F0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
